<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Lengow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Test de recrutement Lengow - FABRI Nicolas</h1>
				<a href="{{ path('nf_test_flux') }}">Retour à l'accueil</a>
				<section>
					<h2>Ajout d'une commande</h2>
					{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    					{# Les erreurs générales du formulaire. #}
    					{{ form_errors(form) }}

    					<div class="form-group">
      						{# Génération du label. #}
    						{{ form_label(form.marketplace, "Marketplace :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

    						{# Affichage des erreurs pour ce champ précis. #}
      						{{ form_errors(form.marketplace) }}

    						<div class="col-sm-4">
    							{# Génération de l'input. #}
    							{{ form_widget(form.marketplace, {'attr': {'class': 'form-control'}}) }}
    						</div>
    					</div>

    					<div class="form-group">
      						{# Génération du label. #}
    						{{ form_label(form.idFlux, "L'id de flux :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

    						{# Affichage des erreurs pour ce champ précis. #}
      						{{ form_errors(form.idFlux) }}

    						<div class="col-sm-4">
    							{# Génération de l'input. #}
    							{{ form_widget(form.idFlux, {'attr': {'class': 'form-control'}}) }}
    						</div>
    					</div>

    					<div class="form-group">
      						{# Génération du label. #}
    						{{ form_label(form.orderId, "L'id de la commande :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

    						{# Affichage des erreurs pour ce champ précis. #}
      						{{ form_errors(form.orderId) }}

    						<div class="col-sm-4">
    							{# Génération de l'input. #}
    							{{ form_widget(form.orderId, {'attr': {'class': 'form-control'}}) }}
    						</div>
    					</div>

    					<div class="form-group">
      						{# Génération du label. #}
    						{{ form_label(form.orderAmount, "Montant de la commande :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

    						{# Affichage des erreurs pour ce champ précis. #}
      						{{ form_errors(form.orderAmount) }}

    						<div class="col-sm-4">
    							{# Génération de l'input. #}
    							{{ form_widget(form.orderAmount, {'attr': {'class': 'form-control'}}) }}
    						</div>
    					</div>

    					<div class="form-group">
      						{# Génération du label. #}
    						{{ form_label(form.orderShipping, "Taux de taxe (ordershipping) :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

    						{# Affichage des erreurs pour ce champ précis. #}
      						{{ form_errors(form.orderShipping) }}

    						<div class="col-sm-4">
    							{# Génération de l'input. #}
    							{{ form_widget(form.orderShipping, {'attr': {'class': 'form-control'}}) }}
    						</div>
    					</div>


						{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
						{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
  
					{{ form_end(form) }}
				</section>
			</div>
		</div>
	</div>
</body>
</html>