<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Lengow</title>
    <link href="{{ asset('css/grid.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Test de recrutement Lengow - FABRI Nicolas</h1>
				<ul>
					<li><a href="{{ path('nf_test_flux_add') }}">Ajouter une commande</a></li>
					<li><a href="{{ path('nf_test_api_json') }}">Commandes en JSON</a></li>
					<li><a href="{{ path('nf_test_api_json_details', {'id_order': '114KL55M'}) }}">Exemple d'une commande en JSON</a></li>
					<li><a href="{{ path('nf_test_api_yaml') }}">Commandes en YAML</a></li>
				</ul>
				<section>
					<h2>Liste des commandes</h2>
					{{ grid(grid) }}
				</section>
			</div>
		</div>
	</div>
</body>
</html>